
.wrapper-featured-companies
  margin-top: 25px


.featured-companies
  font-size: 14px
  color: #7C8695
  cursor: pointer

.see-all
  font-size: 14px
  float: right
  cursor: pointer
  &:hover
    color: #73993D

.icon-company
  margin-top: 20px


ul
  padding-left: 0
  margin-top: 14px


  li
    list-style: none
    padding-bottom: 3px
    &:first-child
      color: #1c2534
      font-size: 16px
    &:nth-child(2),&:nth-child(3)
      color: #7c8695
      font-size: 14px
    &:last-child
      color: #1c2534
      font-size: 12px
      font-weight: 700
      cursor: pointer
      &:hover
        color: #73993D

.feature-links
  margin-top: 20px
  P
    border-top: 1px solid #E0E2E6
    padding-top: 20px
  span
    color: #b7bfcd
    font-size: 12px
  .privacy-policy
    margin-right: 55px







